@import "tailwindcss";

@theme {
  --font-sans: var(--font-instrument);
  --font-jersey: var(--font-jersey);
  --color-primary: #ec3750;
  --color-orange: #ffbf71;
  --color-purple: #312e4d;
}

@layer base {
  html {
    font-size: clamp(16px, 1.25vw, 20px);
  }
}

@utility bg-grid {
  background-image: url("/bg-grid.svg");
  background-position: center;
  background-repeat: repeat;
}

@utility bg-noise {
  background-image: image-set(
    url("/bg-noise.avif") type("image/avif"),
    url("/bg-noise.png") type("image/png")
  );
  background-repeat: repeat;
}

@utility corner-squircle {
  corner-shape: squircle;
}
